* {
    margin: 0;
    padding: 0;
}

* + * {
    margin-top: 1rem;
}

body {
    margin-top: 0;
    padding: 3rem;
}

/* Don't display custom element content until the element has been loaded */
*:not(:defined) {
    display: none;
}
